<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equality Enterprises</title>
    <link rel="stylesheet" href="css/index2.css">
</head>

<body ng-app="td" class="ng-app">
   

    
    <div class="td-header s-mcs h-support ng-scope" ng-controller="header">

        <div class="s-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="leftT hidden-xs hidden-sm">
                            Your Safety- Our priority <a
                                style="color: inherit; text-decoration: underline; --darkreader-inline-color: inherit;"
                                href="/corona/awareness" data-darkreader-inline-color="">Click to know more <i
                                    class="fa fa-angle-double-right"></i></a> </div>

                        <div class="siol d1">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle one-l" id="supportDd" data-toggle="dropdown">
                                    Customer service
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="supportDd">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="/support/">Support/Tracking</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1"
                                            href="https://docs.google.com/forms/d/e/1FAIpQLSc3waJCMYzhsjuCnXAhw8giEw2MUQKh_4B9dOtfd-km7G0wLg/viewform?usp=sf_link">Provide
                                            Feedback</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="siol d2">
                            <span class="one-l">
                                <i class="fa fa-phone"></i>
                                <strong><a href="tel:+919111112260">+91 9111112260</a></strong> <span
                                    class="hidden-xs">(10 AM - 6 PM, 7 Days)</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-container">
                        <div class="left-side">
                            <div class="m-menu">
                                <div ng-click="menu.toggle()" ng-class="{
                                            'open': openMenu,
                                        }" class="three-bar">
                                    <span></span>
                                    <span class="mid"></span>
                                    <span></span>
                                </div>
                            </div>
                            <a href="/" class="logo" aria-label="10digi logo"></a>


                        </div>
                        <div class="right-side">
                            <div class="rsc">
                                <span class="h-item hidden-sm hidden-xs">
                                </span>
                                <span class="h-item hidden-sm hidden-xs">
                                    <a class="corp n" href="/corporate/">For Business</a></span><span
                                    class="h-item hide hidden-sm hidden-xs">
                                    <a class="" href="/support/">Support</a></span><span class="h-item hide">
                                    <a class="" href="/support/">
                                        <i class="orange fa fa-question-circle"
                                            style="font-size: 20px;vertical-align: middle;"></i>
                                    </a></span><span class="h-item hidden-sm hidden-xs">
                                    <a class=" corp n" href="/cart/">Cart
                                    </a>
                                </span><span class="h-item h hidden-lg hidden-md">
                                    <a href="/cart/" aria-label="10digi cart item" class="">
                                        <img class="resolution-url s rs"
                                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/8/20/fn_cart_icon7066.png"
                                            alt="10digi cart"
                                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/8/20/fn_cart_icon7066.png.webp">
                                    </a>
                                </span><!-- ngIf: !user.id --><span class="h-item hidden-sm hidden-xs ng-scope"
                                    ng-if="!user.id">
                                    <a class=" corp n login-action">Login</a>
                                </span><!-- end ngIf: !user.id --><!-- ngIf: !user.id --><span
                                    class="h-item hidden-lg hidden-md h ng-scope" ng-if="!user.id">
                                    <a class="login-action ">
                                        <img class="resolution-url s rs"
                                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/8/20/fn_user_login_icon8142.png"
                                            alt="10digi user"
                                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/8/20/fn_user_login_icon8142.png.webp">
                                    </a>
                                </span><!-- end ngIf: !user.id --><!-- ngIf: user.id -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="m-menu-left-backdrop" ng-click="menu.close()" ng-class="{
            'open': openMenu,
            }">
        </div>
        <div class="m-menu-left" ng-class="{
            'open': openMenu,
            's': showMenu,
        }">
            <div class="menu-here">
                <!--    fold 2 - catalog  -->

                <a class="menu-item  close-menu-action" alt="homepage" href="/" title="Homepage">
                    <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/4/14/home_icon5526.png"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        Homepage </span>
                </a>
                <a class="menu-item has-child" alt="Prepaid" href="/prepaid" title="Buy Prepaid">
                    <i class="fa fa-caret-down"></i> <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/4/23/prepaid_sim_icon9951.png"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        Buy Prepaid </span>
                </a>
                <div class="menu-item-children" style="display: none">
                    <a class="menu-item sub-menu-item close-menu-action " alt="Jio" href="/sim-connection/prepaid/jio"
                        title="Jio">
                        <span class="menu-icon">
                            <img class="resolution-url rs" data-ratio-desktop="1"
                                src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/4/5/jio_logo9739.png"
                                alt="" data-ow="26" style="min-height: 26px;">
                        </span>
                        <span class="menu-text">
                            Jio </span>
                    </a>

                    <a class="menu-item sub-menu-item close-menu-action " alt="Airtel"
                        href="/sim-connection/prepaid/airtel" title="Airtel">
                        <span class="menu-icon">
                            <img class="resolution-url rs" data-ratio-desktop="1"
                                src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/4/9/airtel_logo7268.png"
                                alt="" data-ow="26" style="min-height: 26px;">
                        </span>
                        <span class="menu-text">
                            Airtel </span>
                    </a>

                    <a class="menu-item sub-menu-item close-menu-action " alt="Vi" href="/sim-connection/prepaid/vi"
                        title="Vi">
                        <span class="menu-icon">
                            <img class="resolution-url rs" data-ratio-desktop="1"
                                src="https://d32p60ahf2de9i.cloudfront.net/media/vi_logo_tab_icon.png"
                                alt="" data-ow="26" style="min-height: 26px;">
                        </span>
                        <span class="menu-text">
                            Vi </span>
                    </a>

                    <a class="menu-item sub-menu-item close-menu-action " alt="BSNL" href="/sim-connection/prepaid/bsnl"
                        title="BSNL">
                        <span class="menu-icon">
                            <img class="resolution-url rs" data-ratio-desktop="1"
                                src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/5/3/bsnl_logo4734.png"
                                alt="" data-ow="26" style="min-height: 26px;">
                        </span>
                        <span class="menu-text">
                            BSNL </span>
                    </a>

                </div>
                <a class="menu-item  close-menu-action" alt="Postpaid" href="/postpaid" title="Buy Postpaid">
                    <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/5/18/new_postpaid_sim_icon44794287.png"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        Buy Postpaid </span>
                </a>
                <a class="menu-item  close-menu-action" alt="Fancy Number" href="/fancy-number" title="Fancy numbers">
                    <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/4/23/fancy_number_icon1369.png"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        Fancy numbers </span>
                </a>
                <a class="menu-item  close-menu-action" alt="Mobile Recharge" href="/" title="Recharge">
                    <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2023/5/15/buy-mobile97971593.webp"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        Recharge </span>
                </a>
                <a class="menu-item has-child" alt="Port number" href="/port-number" title="Port your number">
                    <i class="fa fa-caret-down"></i> <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/4/23/mnp_icon5278.png"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        Port your number </span>
                </a>
                <div class="menu-item-children" style="display: none">
                    <a class="menu-item sub-menu-item close-menu-action " alt="Jio" href="/port-number/jio" title="Jio">
                        <span class="menu-icon">
                            <img class="resolution-url rs" data-ratio-desktop="1"
                                src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/4/5/jio_logo9739.png"
                                alt="" data-ow="26" style="min-height: 26px;">
                        </span>
                        <span class="menu-text">
                            Jio </span>
                    </a>

                    <a class="menu-item sub-menu-item close-menu-action " alt="Airtel" href="/port-number/airtel"
                        title="Airtel">
                        <span class="menu-icon">
                            <img class="resolution-url rs" data-ratio-desktop="1"
                                src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/4/9/airtel_logo7268.png"
                                alt="" data-ow="26" style="min-height: 26px;">
                        </span>
                        <span class="menu-text">
                            Airtel </span>
                    </a>

                    <a class="menu-item sub-menu-item close-menu-action " alt="Vi" href="/port-number/vi" title="Vi">
                        <span class="menu-icon">
                            <img class="resolution-url rs" data-ratio-desktop="1"
                                src="https://d32p60ahf2de9i.cloudfront.net/media/vi_logo_tab_icon.png"
                                alt="" data-ow="26" style="min-height: 26px;">
                        </span>
                        <span class="menu-text">
                            Vi </span>
                    </a>

                    <a class="menu-item sub-menu-item close-menu-action " alt="BSNL" href="/port-number/bsnl"
                        title="BSNL">
                        <span class="menu-icon">
                            <img class="resolution-url rs" data-ratio-desktop="1"
                                src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/5/3/bsnl_logo4734.png"
                                alt="" data-ow="26" style="min-height: 26px;">
                        </span>
                        <span class="menu-text">
                            BSNL </span>
                    </a>

                </div>
                <a class="menu-item  close-menu-action" alt="Broadband" href="/broadband" title="Broadband plans">
                    <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/6/15/broadband_icon3534.png"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        Broadband plans </span>
                </a>
                <a class="menu-item  close-menu-action" alt="DTH" href="/dth" title="DTH">
                    <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2023/3/30/broadband_icon35347343.png (4)6546.webp"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        DTH </span>
                </a>
                <a class="menu-item  close-menu-action" alt="corporate" href="/corporate" title="Corporate">
                    <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2022/9/26/business_sim76061864.webp"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        Corporate </span>
                </a>
                <a class="menu-item  close-menu-action" alt="OTT plans" href="/ott" title="OTT plans">
                    <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/8/4/ottusp_icon011676.png"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        OTT plans </span>
                </a>
                <a class="menu-item  close-menu-action" alt="Mobile Phones" href="/mobile-phones" title="Mobile phones">
                    <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/9/12/buy-mobile-b323355.png"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        Mobile phones </span>
                </a>
                <a class="menu-item  close-menu-action" alt="Get support" href="/support" title="Support">
                    <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/4/14/supporticon5161.png"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        Support </span>
                </a>
                <a class="menu-item  close-menu-action" alt="operator helpline numbers" href="/helpline-number"
                    title="Telecom operators helpline">
                    <span class="menu-icon">
                        <img class="resolution-url rs" data-ratio-desktop="1"
                            src="https://d32p60ahf2de9i.cloudfront.net/cdn/2021/4/14/helpline_icon4073.png"
                            alt="" data-ow="26" style="min-height: 26px;">
                    </span>
                    <span class="menu-text">
                        Telecom operators helpline </span>
                </a>



                <!-- ngIf: !user.id -->
                <div class="menu-item login-action close-menu-action ng-scope" title="Login" ng-if="!user.id">
                    <span class="menu-icon">
                        <img class="resolution-url rs"
                            src="https://d32p60ahf2de9i.cloudfront.net/tendigi/theme/img/icons/mega_menus/login_icon.png"
                            alt="10digi menu">
                    </span>
                    <span class="menu-text">
                        Login
                    </span>
                </div><!-- end ngIf: !user.id -->
                <!-- ngIf: user.id -->
                <!-- ngIf: user.id -->
                <!-- ngIf: user.id -->
            </div>
        </div>
    </div>
<script>
    function omit_special_char(e) {
    var k;
    document.all ? k = e.keyCode : k = e.which;
    return ((k != 59 && k != 92 && k != 39 && k != 37 &&
        k != 13 && k != 43 && k != 34 && k != 40 && k != 41 &&
        k != 60 && k != 62 && k != 38 && k != 61 && k != 47 && k != 35 && k != 45 && k != 124));
    }
    </script>





<script>
    (pushalertbyiw = window.pushalertbyiw || []).push(['onReady', onPAReady]);
    function onPAReady() {
        var s = PushAlertCo.getSubsInfo();
        var a = ['subscribed', 'unsubscribed', 'denied', 'canceled'].indexOf(s.status) == -1;
        var t = ((+new Date) - parseInt(localStorage.getItem('st'))) / 1000 > (4 * 60);
        if(location.href.indexOf('account/thank-you') != -1) t = 1,sn();
        var i = null;
        if (a && localStorage.getItem('pncan') != '1' && false) {
          if(!t){
             i = setInterval(function(){
                var t = ((+new Date) - parseInt(localStorage.getItem('st'))) / 1000 > (4 * 60);
                if(t){
                    clearInterval(i), i = false;
                    sn();
                }
             }, 1000);
          }else{
             sn();
          }
        }
        function sn(){
            setTimeout(function() {
                $('.pn,.pnb').addClass('s');
            }, 100)
            $('.pn button.y').on('click', function() {
                PushAlertCo.forceSubscribe();
                $('.pn,.pnb').remove();
            })
            $('.pn button.n').on('click', function() {
                localStorage.setItem('pncan', '1');
                $('.pn,.pnb').remove();
            })
         }
    }
    </script>
    <script src="js/bhupi.js"></script>

    <script src="js/bhupi2.js"></script>

    <script src="js/bhupi3.js"></script>
</body>




</html>