.main_web_banner {
    width: 100%
}

.main_web_banner .owl-nav {
    display: none
}

.main_web_banner .owl-dots {
    position: absolute;
    bottom: 41px;
    left: 0;
    right: 0
}

@media only screen and (max-width:900px) {
    .main_web_banner {
        background: #ededed;
        padding: 15px
    }

    .main_web_banner .owl-dots {
        position: static;
        margin-top: 5px;
        margin-bottom: 5px
    }

    .main_web_banner .owl-carousel .owl-item img {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px
    }
}

.catalog_container {
    position: relative;
    z-index: 9;
    width: 100%;
    background: #f7f7f7
}

.catalog_container a,
.catalog_container a:hover {
    outline: none;
    text-decoration: none !important
}

.catalog_container .catalog_service {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: -30px
}

.catalog_container .catalog_service a {
    box-shadow: #efefef 0 5px 20px;
    border-radius: 8px;
    background: #fff;
    padding: 15px;
    margin: 0 10px;
    position: relative;
    width: 140px;
    border: solid 1px transparent;
    transition: border 0.05s
}

.catalog_container .catalog_service a .ot {
    position: absolute;
    left: 13px;
    top: -10px;
    background: #f47242;
    color: #fff;
    border-radius: 3px;
    padding: 1px 8px;
    font-size: 11px;
    font-weight: 600
}

.catalog_container .catalog_service a:hover {
    text-decoration: none;
    border-color: #ffb698
}

.catalog_container .catalog_service a i {
    width: 50px;
    display: block;
    margin: auto auto 6px auto;
    text-align: center
}

.catalog_container .catalog_service a i img {
    height: 40px;
    width: auto;
    min-height: unset !important;
    display: inline-block
}

.catalog_container .catalog_service a .serviceTab_name {
    display: block;
    padding-left: 5px;
    line-height: 15px;
    text-align: center
}

.catalog_container .catalog_service a .serviceTab_name strong {
    text-decoration: none;
    outline: none;
    font-size: 13px;
    color: #f5713f;
    font-weight: 700;
    text-transform: uppercase
}

.catalog_container .catalog_service a .serviceTab_name strong span {
    color: #5f5f5f;
    font-weight: 700;
    white-space: nowrap
}

.catalog_container .catalog_service a .serviceTab_name strong :hover {
    text-decoration: none;
    outline: none
}

.catalog_container .catalog_service a .serviceTab_name nav {
    display: inline-block;
    padding-top: 0
}

.catalog_container .catalog_service a .serviceTab_name nav ul {
    margin: 0;
    padding: 0
}

.catalog_container .catalog_service a .serviceTab_name nav ul li {
    display: inline-block;
    margin-right: 1px
}

.catalog_container .catalog_service a .serviceTab_name nav ul li img {
    width: 11px;
    height: 11px;
    min-height: 11px !important;
    display: inline-block
}

.catalog_container .catalog_service a .arrow_right_icon {
    display: none;
    vertical-align: middle;
    width: 5px;
    padding-left: 30px
}

.catalog_container .catalog_service a .arrow_right_icon img {
    height: 12px
}

.catalog_container .catalog_service a:first-child {
    margin-left: 0
}

.catalog_container .catalog_service a:last-child {
    margin-right: 0
}

@media only screen and (min-width:0) and (max-width:350px) {
    .catalog_container {
        margin-top: 0;
        padding: 0 0 5px 0;
        background: #f7f7f7
    }

    .catalog_container .catalog_service a .serviceTab_name strong {
        font-size: 9px !important
    }

    .catalog_container .col-md-12 {
        padding-left: 9px;
        padding-right: 9px
    }

    .catalog_container .catalog_service {
        margin-top: -15px;
        background: none
    }
}

@media only screen and (min-width:200px) and (max-width:990px) {
    .catalog_container .catalog_service {
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
        align-content: unset;
        justify-content: left
    }

    .catalog_container .catalog_service a {
        outline: none;
        text-decoration: none;
        margin: 0 5px 15px 5px;
        padding: 15px 0;
        width: calc(33% - 10px);
        display: table;
        flex: unset;
        border-radius: 8px
    }

    .catalog_container .catalog_service a .ot {
        top: -8px;
        font-size: 9px;
        padding: 1px 4px
    }

    .catalog_container .catalog_service a i {
        width: 38px
    }

    .catalog_container .catalog_service a i img {
        height: 30px;
        width: 32px
    }

    .catalog_container .catalog_service a .serviceTab_name {
        padding-left: 5px
    }

    .catalog_container .catalog_service a .serviceTab_name strong {
        font-size: 11px;
        white-space: nowrap
    }

    .catalog_container .catalog_service a .serviceTab_name nav ul li img {
        height: 10px;
        width: 10px;
        margin-right: 0;
        min-height: 10px !important
    }

    .catalog_container .catalog_service a .serviceTab_name nav ul li {
        margin-right: 0
    }

    .catalog_container .catalog_service a .arrow_right_icon {
        padding-left: 0
    }

    .catalog_container .catalog_service a .arrow_right_icon img {
        height: 8px
    }

    .catalog_container .catalog_service a .serviceTab_name nav {
        display: contents
    }

    .catalog_container .catalog_service a .serviceTab_name {
        line-height: 14px
    }

    .catalog_container .catalog_service a:first-child {
        margin-left: 5px
    }

    .catalog_container .catalog_service a:last-child {
        margin-right: 5px
    }

    .catalog_container {
        margin-top: 0;
        padding: 0 0 5px 0;
        background: #f7f7f7
    }

    .catalog_container .col-md-12 {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        height: auto
    }

    .catalog_container .catalog_service {
        margin-top: -15px;
        background: none
    }
}

@media only screen and (min-width:991px) and (max-width:1200px) {
    .catalog_container .catalog_service a {
        width: 25%
    }

    .catalog_container .container {
        width: 95%
    }

    .catalog_container .catalog_service a i img {
        height: 30px;
        width: 30px;
        min-height: 30px !important;
        display: inline-block
    }

    .catalog_container .catalog_service a {
        padding: 10px
    }

    .catalog_container .catalog_service a .ot {
        top: -8px;
        font-size: 11px
    }

    .catalog_container .catalog_service a .serviceTab_name {
        padding-left: 10px
    }

    .catalog_container .catalog_service a .serviceTab_name strong {
        font-size: 10px
    }

    .catalog_container .catalog_service a .serviceTab_name nav ul li {
        margin-right: 0
    }

    .catalog_container .catalog_service a .serviceTab_name nav ul li img {
        height: 10px;
        width: 10px;
        min-height: 10px !important;
        display: inline-block
    }

    .catalog_container .catalog_service a .arrow_right_icon {
        padding-left: 0
    }

    .catalog_container .catalog_service a .arrow_right_icon img {
        height: 8px
    }

    .catalog_container .catalog_service a .serviceTab_name {
        line-height: 14px;
        width: 100%
    }

    .catalog_container .catalog_service a .serviceTab_name nav {
        display: contents
    }

    .catalog_container .catalog_service a i {
        width: 32px
    }
}

.prepaid_plan_list {
    margin-bottom: 0 !important
}

@media only screen and (max-width:990px) {
    .chooseByBrand {
        margin-bottom: 35px !important
    }
}

.vc {
    position: relative;
    margin-bottom: 40px
}

.vc button {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 16px;
    height: auto;
    font-size: 14px;
    z-index: 2
}

.vc button i {
    margin-right: 5px
}

.vc video {
    width: 100%
}

@media (min-width:1600px) {
    .vc video {
        width: 80%;
        margin-left: 10%
    }
}

@media (max-width:991px) {
    .vc button {
        padding: 2px 11px !important;
        right: 5px;
        top: 5px;
        font-size: 12px
    }
}

.indiaF_sim_dl {
    width: 100%
}

.indiaF_sim_dl h6 {
    font-size: 28px;
    font-weight: 500;
    color: #f5713f;
    margin: 0;
    padding: 0
}

.indiaF_sim_dl h6 span {
    color: #5f5f5f
}

.indiaF_sim_dl p {
    text-align: center;
    float: left;
    width: 100%;
    margin: 0;
    padding: 10px 0 20px 0;
    font-size: 14px;
    color: #808291;
    font-weight: 500
}

.indiaF_sim_dl figure {
    display: flex;
    flex-direction: row
}

.indiaF_sim_dl figcaption {
    display: block;
    text-align: right
}

.indiaF_sim_dl figcaption img {
    width: 90%
}

.indiaF_sim_dl .achievements {
    display: flex;
    flex-direction: row
}

.indiaF_sim_dl .achievements .around_justified {
    justify-content: space-around
}

.indiaF_sim_dl .achievements i {
    width: 40px
}

.indiaF_sim_dl .achievements i img {
    width: 40px
}

.indiaF_sim_dl .achievements .flex_start {
    align-items: flex-start
}

.indiaF_sim_dl .achievements .textLable {
    font-size: 12px;
    font-weight: 500;
    color: #5f5f5f;
    background: #fbeae3;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 2px 6px
}

.indiaF_sim_dl .achievements .flex_columns {
    flex-direction: column
}

.indiaF_sim_dl .achievements .img_content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.indiaF_sim_dl .achievements .img_content strong {
    font-weight: 600;
    font-size: 20px;
    color: #5f5f5f;
    padding-top: 3px
}

.indiaF_sim_dl .achievements .img_content span {
    font-size: 14px;
    color: #5f5f5f;
    font-weight: 400
}

.indiaF_sim_dl .achievements .small_font {
    display: inline-block;
    font-size: 14px
}

.indiaF_sim_dl .around_end {
    justify-content: flex-end
}

@media only screen and (max-width:990px) {
    .indiaF_sim_dl {
        padding: 0 5px
    }

    .indiaF_sim_dl h6 {
        width: 100%;
        text-align: center;
        font-size: 14px;
        margin: 0;
        padding: 0;
        font-weight: 600;
        color: #f5713f;
        margin-bottom: 15px
    }

    .indiaF_sim_dl p {
        font-size: 12px;
        padding-top: 5px
    }

    .indiaF_sim_dl figcaption {
        text-align: center;
        margin-bottom: 25px
    }

    .indiaF_sim_dl figcaption img {
        width: 55%
    }

    .indiaF_sim_dl .around_end {
        justify-content: flex-start
    }

    .indiaF_sim_dl .achievements i img {
        height: auto;
        min-height: 4px !important;
        width: 28px
    }

    .indiaF_sim_dl .achievements .textLable {
        font-size: 10px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        padding: 0 5px 2px 5px
    }

    .indiaF_sim_dl .achievements .img_content strong {
        font-size: 13px;
        margin-top: 4px
    }

    .indiaF_sim_dl .achievements .small_font {
        font-size: 12px;
        padding-left: 3px
    }

    .indiaF_sim_dl .achievements .img_content span {
        font-size: 11px
    }

    .indiaF_sim_dl .achievements .img_content {
        padding-left: 5px
    }

    .indiaF_sim_dl figure {
        margin-bottom: 15px;
        width: 49%;
        display: inline-flex
    }

    .indiaF_sim_dl .col-xs-12 {
        padding: 0 10px
    }

    .whitespace {
        white-space: nowrap
    }

    .hastag_weLV {
        width: 100%;
        float: left;
        text-align: center;
        padding-top: 10px
    }
}

.popularVido {
    width: 100%;
    display: flow-root
}

.popularVido h6 {
    font-size: 30px;
    text-align: center;
    color: #f5713f;
    font-weight: 400;
    margin: 0;
    padding: 0
}

.popularVido h6 span {
    color: #5f5f5f
}

.popularVido p {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #808291;
    margin: 10px 0 0 0;
    padding: 0
}

.popularVido .videoSlider {
    width: 100%;
    float: left
}

.popularVido .videoSlider .videoSliderBlog .item a {
    text-decoration: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 15px 15px 0 15px;
    width: 255px;
    float: left
}

.popularVido .videoSlider .videoSliderBlog .item a figure {
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.popularVido .videoSlider .videoSliderBlog .item a figure img {
    width: 100%
}

.popularVido .videoSlider .videoSliderBlog .item a figure .overLayBg img {
    height: 30px;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.popularVido .videoSlider .videoSliderBlog .item a figcaption {
    width: 100%;
    padding: 5px 0 10px 0;
    float: left
}

.popularVido .videoSlider .videoSliderBlog .item a figcaption p {
    font-weight: 600;
    color: #5f5f5f;
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.popularVido .videoSlider .videoSliderBlog .item a figcaption strong {
    font-size: 11px;
    font-weight: 400;
    color: #c3c3c3;
    text-align: left;
    padding-top: 5px;
    display: block
}

.popularVido .videoSlider .owl-carousel .owl-stage-outer {
    padding: 15px 0 15px 0
}

.popularVido .videoSlider .owl-carousel .owl-nav.disabled {
    display: block
}

.popularVido .videoSlider .owl-carousel .owl-stage-outer {
    overflow: hidden
}

.popularVido .videoSlider .owl-carousel .owl-nav button.owl-prev {
    left: -9px
}

.popularVido .videoSlider .owl-carousel .owl-nav button.owl-next {
    right: -9px
}

.popularVido .videoSlider .owl-theme .owl-dots {
    margin: 0;
    bottom: -20px
}

.popularVido .videoSlider .owl-carousel .owl-nav button.owl-prev,
.popularVido .videoSlider .owl-carousel .owl-nav button.owl-next {
    top: 35%;
    box-shadow: #e4e6e9 0 0 29px
}

@media only screen and (max-width:990px) {
    .popularVido {
        padding: 20px 0;
        margin-bottom: 25px
    }

    .popularVido h6 {
        font-size: 14px;
        font-weight: 600
    }

    .popularVido p {
        font-size: 12px;
        font-weight: 400
    }

    .popularVido .videoSlider .owl-carousel .owl-stage-outer {
        padding: 0 0 15px 0
    }

    .popularVido .owl-carousel .owl-nav.disabled {
        display: none
    }

    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        width: 35px;
        height: 35px;
        line-height: 35px
    }

    .popularVido .videoSlider .owl-carousel .owl-nav button.owl-prev {
        left: -3px
    }
}

.our_happyClient {
    width: 100%;
    float: left
}

.our_happyClient h4 {
    font-size: 28px;
    font-weight: 500;
    color: #f5713f;
    padding: 0;
    text-align: center;
    margin: 0;
    padding: 0
}

.our_happyClient h4 span {
    color: #5f5f5f
}

.our_happyClient h4 i {
    font-size: 24px
}

.our_happyClient p {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px
}

.getting_love_cus_dl .tenDigiOurCustomer .customerContent {
    margin-top: 25px
}

.tenDigiOurCustomer {
    width: 100%;
    padding: 15px 0 0 0
}

.tenDigiOurCustomer .customerContent {
    display: block;
    margin-top: 45px
}

.tenDigiOurCustomer .customerContent nav {
    display: block
}

.tenDigiOurCustomer .customerContent nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.tenDigiOurCustomer .customerContent nav ul li {
    display: inline-block;
    text-align: center
}

.tenDigiOurCustomer .customerContent nav ul :first-child {
    font-size: 15px;
    font-weight: 600;
    color: #f5713f
}

.tenDigiOurCustomer .customerContent nav ul :last-child {
    font-size: 15px;
    color: #5f5f5f;
    font-weight: 400
}

.tenDigiOurCustomer .customerContent nav ul .separator {
    width: 2px;
    background: #dbdbdb;
    height: 10px;
    margin: 5px 10px 0 10px
}

.tenDigiOurCustomer .customerContent .rating_start {
    width: 100%;
    padding: 15px 0
}

.tenDigiOurCustomer .customerContent .rating_start ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.tenDigiOurCustomer .customerContent .rating_start ul li {
    display: inline-block;
    text-align: center;
    margin: 0 2px;
    font-size: 13px;
    font-weight: 700;
    color: #ffbc00
}

.tenDigiOurCustomer .customerContent .rating_start ul li .fa {
    font-size: 13px
}

.tenDigiOurCustomer .customerContent p {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-align: left
}

.tenDigiOurCustomer .customerContent .tags {
    display: block;
    padding-top: 20px
}

.tenDigiOurCustomer .customerContent .tags ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.tenDigiOurCustomer .customerContent .tags ul li {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #eee;
    font-size: 12px;
    font-weight: 600;
    margin-right: 5px;
    line-height: 30px;
    padding: 0 10px;
    display: inline-block;
    color: #5f5f5f
}

.tenDigiOurCustomer .owl-dots {
    position: initial
}

.tenDigiOurCustomer .owl-carousel .owl-nav button.owl-prev {
    left: 0
}

.tenDigiOurCustomer .owl-carousel .owl-nav button.owl-prev,
.tenDigiOurCustomer .owl-carousel .owl-nav button.owl-next {
    top: 38%
}

.getting_love_cus_dl .tenDigiOurCustomer .owl-carousel .owl-nav {
    display: none !important;
    margin: 0
}

@media only screen and (max-width:990px) {
    .getting_love_cus_dl .tenDigiOurCustomer .col-xs-12 {
        padding-left: 15px;
        padding-right: 15px
    }

    .tenDigiOurCustomer {
        padding-top: 5px
    }

    .tenDigiOurCustomer .col-xs-12 {
        padding: 0
    }

    .tenDigiOurCustomer .owl-carousel .owl-item img {
        width: unset;
        min-height: auto !important;
        max-width: 80%;
        margin: auto
    }

    .tenDigiOurCustomer .owl-theme .owl-nav {
        display: none !important
    }

    .tenDigiOurCustomer .customerContent {
        margin-top: 20px;
        text-align: center
    }

    .tenDigiOurCustomer .customerContent .rating_start {
        padding: 8px 0
    }

    .tenDigiOurCustomer .customerContent .rating_start ul li {
        margin: 0
    }

    .tenDigiOurCustomer .customerContent .rating_start ul li .fa {
        font-size: 12px
    }

    .tenDigiOurCustomer .customerContent p {
        font-size: 12px;
        text-align: center
    }

    .tenDigiOurCustomer .customerContent .tags ul li {
        font-size: 11px
    }

    .tenDigiOurCustomer .customerContent nav ul :first-child,
    .tenDigiOurCustomer .customerContent nav ul :last-child {
        font-size: 13px
    }

    .our_happyClient h4 {
        width: 100%;
        text-align: center;
        font-size: 14px;
        margin: 0;
        padding: 0;
        font-weight: 600;
        color: #f5713f
    }

    .our_happyClient h4 i {
        font-size: 13px
    }

    .our_happyClient p {
        font-size: 12px;
        margin-top: 5px
    }
}

@media only screen and (min-width:770px) and (max-width:990px) {
    .getting_love_cus_dl .tenDigiOurCustomer .customerContent {
        text-align: left
    }

    .getting_love_cus_dl .tenDigiOurCustomer .customerContent p {
        text-align: left
    }
}

@media only screen and (min-width:1000px) and (max-width:1200px) {
    .tenDigiOurCustomer .customerContent {
        margin-top: 20px
    }
}

.serving_container {
    width: 100%;
    float: left
}

.serving_container .servingBgHome {
    width: 100%;
    background: #fbfbfb;
    padding-top: 20px
}

.serving_container .servingBgInner {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #f6f6f6;
    display: flow-root;
    width: calc(100% - 40px);
    margin: 0 20px;
    padding-top: 20px
}

.serving_container h5 {
    font-size: 28px;
    font-weight: 500;
    color: #f5713f;
    margin: 0;
    padding: 0;
    text-align: center
}

.serving_container h5 span {
    color: #5f5f5f
}

.serving_container p {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 500;
    text-align: center
}

.serving_container figure {
    margin-top: 10px;
    text-align: center
}

.serving_container figure img {
    width: 80% !important;
    height: auto;
    margin: auto
}

.serving_container .serving_prodly_slider {
    width: 70%;
    margin: auto;
    padding: 20px 0 0 0
}

.serving_container .serving_prodly_slider .owl-stage-outer .owl-stage .owl-item .item {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    color: #5f5f5f
}

.serving_container .serving_prodly_slider .owl-dots {
    display: none !important
}

.serving_container .orderLeftGra {
    width: 2px;
    background: #dbdbdb;
    height: 10px;
    margin: 5px 20px 0 20px
}

.serving_container .owl-carousel .owl-dots.disabled,
.serving_container .owl-carousel .owl-nav.disabled {
    display: none
}

.sering_proudly_dl .servingBgInner {
    background: none !important
}

@media only screen and (max-width:990px) {
    .serving_container h5 {
        width: 100%;
        text-align: center;
        font-size: 14px;
        margin: 0;
        padding: 0;
        font-weight: 600;
        color: #f5713f
    }

    .serving_container figure img {
        width: 100% !important;
        height: auto
    }

    .serving_container .serving_prodly_slider {
        width: 95%;
        padding: 15px 0 0 0
    }

    .serving_container .serving_prodly_slider .owl-stage-outer .owl-stage .owl-item .item {
        font-size: 12px
    }

    .serving_container .orderLeftGra {
        margin: 5px 10px 0 16px
    }

    .serving_container .servingBgHome {
        width: calc(100% - 30px);
        margin: 0 15px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        padding-top: 15px
    }

    .serving_container .servingBgInner {
        width: calc(100% - 30px);
        margin: 0 15px;
        padding-top: 15px
    }
}

.about_sim_men {
    width: 100%;
    float: left
}

.about_sim_men figure {
    display: inline-block;
    padding-top: 25px
}

.about_sim_men figure h4 {
    position: relative;
    font-size: 28px;
    font-weight: 500;
    color: #f5713f;
    margin: 0;
    padding: 0;
    display: inline-block
}

.about_sim_men figure h4 span {
    color: #5f5f5f
}

.about_sim_men figure h4 .star_sim_men {
    position: absolute;
    top: -15px;
    right: -30px
}

.about_sim_men figure h4 .star_sim_men img {
    height: 25px
}

.about_sim_men figure p {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 500;
    font-size: 13px;
    margin-top: 10px
}

.about_sim_men figcaption {
    display: inline-block;
    text-align: right;
    width: 100%
}

.about_sim_men figcaption img {
    height: auto;
    width: 100%
}

.about_sim_men .about_sim_content {
    width: 80%;
    margin: auto
}

.about_sim_men .poinesContainer {
    width: 100%;
    padding-top: 20px
}

.about_sim_men .poinesContainer .pointText {
    display: table;
    padding-bottom: 10px
}

.about_sim_men .poinesContainer .pointText .dontIcon {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 20px;
    margin: 0;
    padding: 0
}

.about_sim_men .poinesContainer .pointText .dontIcon i {
    font-size: 7px;
    color: #5f5f5f
}

.about_sim_men .poinesContainer .pointText .dotText {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    color: #5f5f5f;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0
}

.about_sim_dl .about_sim_content {
    width: 95% !important
}

@media only screen and (max-width:990px) {
    .about_sim_men figure {
        padding-top: 0;
        text-align: center;
        width: 100%
    }

    .about_sim_men figure h4 {
        width: 100%;
        text-align: center;
        font-size: 14px;
        margin: 0;
        padding: 0;
        font-weight: 600;
        color: #f5713f;
        font-size: 14px !important
    }

    .about_sim_men figure h4 .star_sim_men {
        display: none;
        top: -9px;
        left: 225px
    }

    .about_sim_men figure h4 .star_sim_men img {
        height: 17px
    }

    .about_sim_men figure p {
        font-size: 12px
    }

    .about_sim_men figcaption {
        text-align: center
    }

    .about_sim_men figcaption img {
        width: 80%;
        height: auto
    }

    .about_sim_men .about_sim_content {
        width: 100%
    }

    .about_sim_men .poinesContainer {
        display: flow-root;
        margin: auto;
        width: 90%;
        padding-bottom: 10px
    }

    .about_sim_men .poinesContainer .pointText .dontIcon {
        width: 16px
    }

    .about_sim_men .poinesContainer .pointText .dotText {
        font-size: 12px
    }

    .about_sim_men .poinesContainer .pointText {
        width: 50%;
        float: left;
        display: block;
        padding-right: 10px
    }
}

@media only screen and (min-width:993px) and (max-width:1191px) {
    .about_sim_men figure h4 {
        font-size: 22px
    }
}

.refundBgContainer {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    display: flow-root
}

.refundBgContainer .refundContainer {
    background: #fbfbfb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 20px
}

.refundBgContainer .refundContainer .dekTop_container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.refundBgContainer .refundContainer .dekTop_container .itsOk {
    display: flex
}

.refundBgContainer .refundContainer .dekTop_container .itsOk strong {
    color: #5f5f5f;
    font-size: 16px;
    font-weight: 600
}

.refundBgContainer .refundContainer .dekTop_container p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #5f5f5f
}

.refundBgContainer .refundContainer .dekTop_container p span {
    color: #f5713f;
    font-weight: 600
}

.refundBgContainer .refundContainer .dekTop_container a {
    text-decoration: underline;
    font-size: 13px;
    font-weight: 600;
    color: #f5713f
}

.refundBgContainer .refundContainer .hertIocnMob i,
.refundBgContainer .refundContainer .itsOk i {
    color: #d75a4a;
    font-size: 25px;
    margin-right: 8px
}

@media only screen and (max-width:990px) {
    .refundBgContainer {
        width: calc(100% - 30px);
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin-left: 15px;
        margin-right: 15px
    }

    .refundBgContainer .refundContainer {
        display: flex;
        align-items: center;
        padding: 10px 15px
    }

    .refundBgContainer .refundContainer .hertIocnMob {
        padding-right: 6px
    }

    .refundBgContainer .refundContainer .hertIocnMob i {
        font-size: 40px
    }

    .refundBgContainer .refundContainer .dekTop_container {
        display: unset
    }

    .refundBgContainer .refundContainer .dekTop_container .itsOk strong {
        font-size: 14px
    }

    .refundBgContainer .refundContainer .dekTop_container p {
        font-size: 11px;
        padding: 5px 0
    }

    .refundBgContainer .refundContainer .dekTop_container a {
        font-size: 11px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .refundBgContainer {
        width: 80%
    }
}

.pnb {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
    z-index: 99;
    visibility: hidden
}

.pnb.s {
    visibility: visible
}

.pn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .18);
    width: 346px;
    text-align: center;
    padding: 20px 10px;
    transition: transform .2s;
    transform: scale(0);
    visibility: hidden
}

.pn.s {
    transform: scale(1);
    visibility: visible
}

.pn .h {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px
}

.pn .p {
    margin-bottom: 12px
}

.pn .bt button {
    width: 150px;
    font-weight: 600
}

.pn .bt button.n {
    opacity: .8
}

.pn .bt button.y {
    background-color: #f5713f;
    color: #fff
}

@media (max-width:768px) {
    .pn {
        left: 20px;
        right: initial
    }
}